# Backend API URL
REACT_APP_END_POINT=http://localhost:5000/api

# App Configuration
REACT_APP_NAME=Sheep Management System
REACT_APP_VERSION=1.0.0

# Partner Configuration
REACT_APP_PARTNER_1_NAME=Imran Shah
REACT_APP_PARTNER_2_NAME=Raza Abbas
